.App {
  text-align: center;
}

.music-list-container{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  height: 82vh;
    overflow-y: scroll;
}
.music-list-container .song-card{
  box-sizing: border-box;
  width: 17%;
  min-height: 105px;
  align-content: space-around; 
  flex-direction: row;
  margin: 10px 18px;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 2px 0px #a2a0a0;
}
.music-list-container .song-info{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.song-info .song-img{
  flex: 1;
  align-items: flex-start; 
}
.song-info .song-detail{
  display: flex;
  flex-direction: column;
  flex: 3;
  align-items: flex-end;
  padding: 0 5px;
}
.song-title{
  flex: 3;
}
.more-link{
  flex: 1;
}
.more-link a{
  text-decoration: none;
  color: #4e8ff0;
}
.search-wrapper{
  margin: 50px auto;
}
.search-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 7px 12px;
  font-size: 15px;
  line-height: 1.55;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #489ae0;
  border-color: #489ae0;
  vertical-align: top;

}

.search-input{
  height: 34px;
  width: 350px;
  font-size: 1em;
  color: #333;
  border: none;
  padding: 2px 10px;
  box-shadow: 0px 1px 2px 0px #a2a0a0;
  outline: none;
}

@media (max-width: 1024px){
  .music-list-container .song-card{
    width: 30%;
    padding: 0 2px;
    margin: 10px;
  }
}
@media (max-width: 768px){
  .music-list-container .song-card{
    width: 29%;
    padding: 0 2px;
    margin: 10px;
  }
  .song-title{
    word-break: break-all;
  }
}
@media (max-width: 568px){
  .search-input{
    width: 300px;
  }
  .music-list-container .song-card{
    width: 44%;
    padding: 0 2px;
    margin: 10px;
  }
  .search-wrapper{
    margin: 20px auto;
  }
}
@media (max-width: 375px){
  .search-input{
    width: 250px;
  }
  .music-list-container .song-card{
    width: 91%;
    padding: 0 2px;
    margin: 10px;
  }
  .search-wrapper{
    margin: 20px auto;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
